@media only screen and (min-width: 64em ) {
   
    h1 h2 h3 {
        font-size:10em; 
    }
    main img {
        width:100%;
        height: 400px;

        
    } 
    main h2 {
    display:none;
    }
    .highlow {
        display: block;
        text-align: center;
        width:33%;
        
        margin-right: 30%;
        margin-top: 10%;
    }
    .current{
       
                
    }
    .current h2 {
        text-align: left;
        width:10%;
        margin-top: 0;
    padding-bottom: -50px;
        padding-right: 0;
        margin-left: 8ch;
    
        padding-top: -50px;
    }
    .conditions {
        text-align: center;
        width: 33%;
        margin-right: 10%;
        margin-left: 60%;
        margin-top: 5%;
       
       
    }
    span .bold {
        font-weight: bold;
    }
    .forecast{
        margin-top: 15px;
    }
    .forecast h3{
        margin-top: 15%;
        margin-left: 600px;
        
    } 
table {
    table-layout: auto;
    border: 1px solid black;
    background-color: darkgrey;
    text-align: center;
    width:100%;
    margin-left: 0;
    margin-bottom: 20px;
}
    article h3 {
       margin-top:-10px; 
    }
    article img {
        width:400px;
        height: 200px;
        padding-top: 30px;
        float:right;
      
    }
}