h1 {
    background-color:darkorchid;
    color:white;
    width: 25%;
}
img { 
    padding:10px;
    border: 10em solid magenta;
    
}
p {
    color:darkslateblue;
    background-color:chartreuse;
    font-family:cursive;
}