@media only screen and (min-width: 64em ) {
   
    h1 h2 h3 {
        font-size:10em; 
    }
    main img {
        width:100%;
    } 
    main h2 {
        margin-top: 5ch;
    }
    .highlow {
        display: block;
        text-align: center;
        width:33%;
        
        margin-right: 45ch;
        margin-top: -35ch;
    }
    .current{
       
                
    }
    .current h2 {
        text-align: left;
        width:10%;
        margin-top: 15ch;
    padding-top: -40ch;
        padding-right: 0;
        margin-left: 8ch;
      
    }
    .conditions {
        text-align: center;
        width: 33%;
        margin-right: 0;
        margin-left: 85ch;
        margin-top: -30ch;
       
       
    }
    span .bold {
        font-weight: bold;
    }
    .forecast h3{
        margin-left: 300ch;
        
    } 
table {
    table-layout: auto;
    border: 1px solid black;
    background-color: darkgrey;
    text-align: center;
    width:100%;
    margin-left: 0;
    margin-bottom: 20px;
}
    article h3 {
       margin-top:-10px; 
    }
    article img {
        width:37%;
        
        float:right;
      
    }
}