* { box-sizing: border-box;} 

body { width:600;
  font-size: 16px;
  font-family: sans-serif;  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}

header { width:600;
    
background-color:#26b2b2;
}
header h1 {
    font: 1.5em;
    padding:20px 20px 0px 5px;
    text-align: center;
}
header img { 
    width:9em;
    float:left;
    margin-left: 40px;
    padding-right: 0;
    padding-bottom: o; 

}
header .subheading {
    text-align: center;
    padding-bottom: 10px;
    
}
.nav1, .nav2, .nav3 {
    display: contents;
     width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}  

nav {
    width:auto;
   display: none;
}
 


nav ul {
   background-color: #d00000; 
}
nav ul li {
   
   
    display: inline-flex;
   
    text-align: center;
}
nav ul li a {
    display: inline-block;
    padding: 8px;
    background-color: #d00000;
    width:100%;
     color: white;
}
nav ul li.active a {
    color:darkgoldenrod;
}
nav ul li a:hover { 
color:darkgray;
}

main {}
main h2 {
  text-align: center;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }
.forecast {
    display:none;
}
.current img {
    
    float:right;

}
.current {
    
    align-content: center;
    padding-right: 150px;
    border: 1px solid white;
    
}

.current h2 { 
align-content: center;
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 50px;
    
}


.highlow {
    text-align: center;


}
.highlow p{
    padding: 20px;

}
.conditions {
    text-align: center;
}
article {
    border: 1px solid grey;
    padding: 20px;
}
article h3 {
    padding-left: 150px;
}
article img {
    align-content: center;
}
.highlow {
    margin-left: 185px;
    display:inline-flex;
    

}
footer {}
footer .contact {
    background-color:#ffba08;
    color:aliceblue;
    border: 1px solid blue;
    text-align: center;
}
footer .footer-bar {
    background-color: dimgrey;
    color:aliceblue;
}