@media only screen and (min-width: 64em ) {

    main img {
        width:100%;
        height: 400px;

        
    } 
    header{
        font-size: 1.3em;
    }
    .sales {
        font-size: 1.5em;
    }
    .events{
        font-size:1.5em;
        
    }
    .logo{
        width:100%;
       margin-top: 0;
        margin-bottom: 0em;
        margin-left: 0;
        border: none;
    }
    .adventures {
        font-size:1.5em;
        padding-top: 2em;
        padding-bottom: 1em;
     width: 100%;
    }
   
    .bikesales img{
    
    width: 70%;
    margin-left: 12em;
}
    footer {
        font-size:1.5em;
    }
   
      .bikesales > li {
	position: relative;
	
	
	left: -95%;
	
	-webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
}
    li.openSesame {
	left:0px;
}
    .bikesales {
       
        
    }