* { box-sizing: border-box;} 

body { max-width: 100%;
  font-size: 16px;
  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header {
    font:baskerville;
 color: white;   
background-color:#0B3954;
}
header h1 {
    font: 1.5em;
    padding: 0px 20px 0px 20px;
    text-align: center;
}
header h1 span #spoke {
    font: permanent marker;
}
/*Navigation*/
nav {
    width: 100%;
   
}
 
nav button {
    margin: .2em 2%;
    font-size: 1.6rem;
    color: black;

    border: none;
    background-color:#E0ff4f;
    
}

nav ul {
   background-color:#E0ff4f ;
    
}
nav .hide {
    display:none;
}
nav ul li {
   
   
    display: inline-flex;
   
    text-align: center;
}
nav ul li a {
     
    padding: 8px;
    background-color: #e0ff4f;
    width:100%;
     color: black;
}
nav ul li.active a {
    color:#ff6663;
}
nav ul li a:hover { 
color: darkslategrey;
}
#top {
    width: 100%;
    height: 5%;
}
button {
   background-color: #e0ff4f; 
}
.sales {
    display: center;
    text-align: center;
    border: 3px solid #0B3954;
    font-size: .75em;
    padding:5px 5px 5px 5px;
    margin: 20px;
}
.events {
    display: inline-flex;
    
}
.events img{
 width:; 
}
#logo {
    width:30%;
    
}
footer{
    background-color: #ff6663;
}