* { box-sizing: border-box;} 

body { width:600px;
  font-size: 16px;
  font-family:'Open Sans', sans-serif;  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header { width:100%;
    max-height: 5%;
background-color:#26b2b2;

}
header h1 {
    font: 3em;
    padding:20px 20px 0px 5px;
    text-align: center;
}
header img { 
    align-self:flex-start;
    width:9em;
    margin-left: 40px;
    padding-right: 0;
    

}
header .subheading {
    text-align: center;
    padding-bottom: 10px;
    
}

/*Navigation*/
nav {
    width: 100%;
   
}
 
nav button {
    margin: .2em 2%;
    font-size: 1.6rem;
    color: aliceblue;

    border: none;
    background-color:#d00000;
    
}

nav ul {
   background-color: #d00000;
    
}
nav .hide {
    display:none;
}
nav ul li {
   
   
    display: inline-flex;
   
    text-align: center;
}
nav ul li a {
     
    padding: 8px;
    background-color: #d00000;
    width:100%;
     color: white;
}
nav ul li.active a {
    color:darkgoldenrod;
}
nav ul li a:hover { 
color:darkgray;
}

/*Main- franklin image */
main {

}
main h2 {
  text-align: center;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {width:100% }
/*forecast 10 day */ 
.forecast {
    display:none;
}
/* curent conditions sun image sunny*/
.current img {
    
display: flex;
    flex-direction: row;

}
.current {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-right: 150px;
    border: 1px solid white;
    
}

.current h2 { 
align-content: center;
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 50px;
    
}
/*Hi Low temperatures*/

.highlow {
    text-align: center;
display: flex;
    flex-direction: row;
width: 45%;
    margin:auto;
}
.highlow p{
    padding: 20px;

}

/* wind speed and precipitation*/
.conditions {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin:auto;
    margin-top: 1%;
}
.conditions p{
    padding: 2%;
}
section, div {margin: 1rem;}
.form {background-color:#bbb; padding: 1rem; border:1px solid #444;}
div {background-color:#eee; padding: 1rem; border:1px solid #444;}
#aNum {border:1px solid #bbeedd; background-color:#aaffcc; text-align:center;}

/*gallery*/
.gallery {
   
    list-style-type:none;
    display:grid;
}
.rainpic, .sunshinepic, .partlycloudypic, .lightningpic, .snowpic, .typhoonpic { width:100%;
    

      background-color: lightgrey;
    border: 1px solid black;
    margin:0 auto;
    padding:0;
   
    border: 1px solid black;
} 
/* article with the picture*/
.article {
    
    
    border: 1px solid grey;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}
article h3 {
    padding-left: 150px;
}
.flexart {
    display:flex;
flex-wrap:wrap;
    width:100%;
    
}
.town-article, .townimg {
    width:100%;
    padding:1%;
}
article img {
 height: 40%;
     width: 100%;
}
form label.top {
    display: block;
    margin: 2%;
}

/*Footer */
footer {}
footer .contact {
    background-color:#ffba08;
    color:aliceblue;
    border: 1px solid blue;
    text-align: center;
}
footer .footer-bar {
    background-color: dimgrey;
    color:aliceblue;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}