@media only screen and (min-width: 64em ) {
   
    h1 h2 h3 {
        font-size:10em; 
    }
    main img {
        width:100%;
        height: 400px;

        
    } 
    main h2 {
    
    }
    .weather-summary {
        display:flex;
        flex-flow:row wrap;
        text-align:center;
    }
    .sunpic, .sunny {
        width:100%;
    }
    .current h2{
        padding-bottom: 0;
        margin:auto;
    }
    .highlow {
        display: block;
        text-align: center;
        width:33%;
        
        
    }
    .current{
       width:30%;
        flex-wrap:wrap;
        align-content:center;
    }
    
    .conditions {
        text-align: center;
        width: 33%;
    margin-top: auto;
    
       
    }
    span .bold {
        font-weight: bold;
    }
    /*Gallery large CSS*/
    .gallery img:hover {box-shadow: 5px 5px 10px gray;}
    .gallery {
        display:grid;
      grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 50% 50%;
        grid-gap: 5em; 
        grid-template-areas: 
            "picture1 picture2 picture3"
            "picture4 picture5 picture6"
    }
    .forecast{
        margin-top: 15px;
    }
    .forecast h3{
        margin-top: 15%;
        margin-left: 600px;
        
    } 
table {
    table-layout: auto;
    border: 1px solid black;
    background-color: darkgrey;
    text-align: center;
    width:100%;
    margin-left: 0;
    margin-bottom: 20px;
}
    article h3 {
       margin-top:-10px; 
    }
    
}