* { box-sizing: border-box;} 

body { width:600;
  font-size: 16px;
  font-family:'Open Sans', sans-serif;  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header { width:600;
    
background-color:#26b2b2;
}
header h1 {
    font: 1.5em;
    padding:20px 20px 0px 5px;
    text-align: center;
}
header img { 
    width:9em;
    margin-left: 40px;
    padding-right: 0;
    padding-bottom: o; 

}
header .subheading {
    text-align: center;
    padding-bottom: 10px;
    
}

/*Navigation*/
nav {
    width: 100%;
   
}
 
nav button {
    margin: .2em 2%;
    font-size: 1.6rem;
    color: aliceblue;

    border: none;
    background-color:#d00000;
    
}

nav ul {
   background-color: #d00000;
    
}
nav .hide {
    display:none;
}
nav ul li {
   
   
    display: inline-flex;
   
    text-align: center;
}
nav ul li a {
     
    padding: 8px;
    background-color: #d00000;
    width:100%;
     color: white;
}
nav ul li.active a {
    color:darkgoldenrod;
}
nav ul li a:hover { 
color:darkgray;
}

/*Main- franklin image */
main {
display:;
}
main h2 {
  text-align: center;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {width:100% }
/*forecast 10 day */ 
.forecast {
    display:none;
}
/* curent conditions sun image sunny*/
.current img {
    


}
.current {
    
    align-content: center;
    padding-right: 150px;
    border: 1px solid white;
    
}

.current h2 { 
align-content: center;
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 50px;
    
}
/*Hi Low temperatures*/

.highlow {
    text-align: center;


}
.highlow p{
    padding: 20px;

}
.highlow {
    margin-left: 185px;
    display:inline-flex;
}
/* wind speed and precipitation*/
.conditions {
    text-align: center;
}
section, div {margin: 1rem;}
.form {background-color:#bbb; padding: 1rem; border:1px solid #444;}
div {background-color:#eee; padding: 1rem; border:1px solid #444;}
#aNum {border:1px solid #bbeedd; background-color:#aaffcc; text-align:center;}
img:hover {box-shadow: 5px 5px 10px gray;}
/*gallery*/
.gallery {
   
    list-style-type:none;
    display:grid;
}
.rain, .sunshine, .partlycloudy, .lightning, .snow, .typhoon {
    
list-style-type:none;
      background-color: lightgrey;
    border: 1px solid black;
    list-style-type:none;
    margin:0 auto;
    padding:0;
   
    border: 1px solid black;
} 
/* article with the picture*/
article {
    border: 1px solid grey;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}
article h3 {
    padding-left: 150px;
}
article img {
    align-content: center;
    margin-right: 20px;
}


/*Footer */
footer {}
footer .contact {
    background-color:#ffba08;
    color:aliceblue;
    border: 1px solid blue;
    text-align: center;
}
footer .footer-bar {
    background-color: dimgrey;
    color:aliceblue;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}