@media only screen and (min-width: 64em ) {

    main img {
        width:100%;
        height: 400px;

        
    } 
    header{
        font-size: 1.3em;
    }
    .sales {
        font-size: 1.5em;
    }
    .events{
        font-size:1.5em;
       width:100%; 
    }
    .logo{
        width:100%;
       margin-top: 0;
        margin-bottom: 0em;
        margin-left: 0;
        border: none;
        margin-right:10%;
    }
    .logo img{
        width:100%;
    }
    .adventhome {
        font-size:1.5em;
        padding-top: 2em;
        padding-bottom: 1em;
     width: 100%;
       
    }
    .group {
        width:100%;
        margin-right:10%;
        display:inline-flex;
    }
   
    .bikesales img{
    
    width: 50%;
    margin-left: 7em;
}
    footer {
        font-size:1.5em;
    }
   
      .bikesales > li {
	position: relative;
	font-size: 2em;
	
	left: -88%;
	
	-webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
}
    li.openSesame {
	left:0px;
}
    .buyNow {
       
       font-size: 1em; 
    }
    .adventures{
   display: inline-flex;
}
    .adventures button {
        margin-bottom: 0; }
    .serviceList {
        margin-right: 30%;
        margin-left: 30%;
    }
}
.elist {
    display: inline-flex;
}