* { box-sizing: border-box;} 

body { max-width: 100%;
  font-size: 16px;
  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header {
    font-family:"Libre+Baskerville", fantasy;
 color: white;   
background-color:#0B3954;
}
header h1 {
    font-size: 2.5em;
    padding: 0px 20px 0px 20px;
    text-align: center;
    padding: .65em;
 font-family: "Righteous";

}
#spoke {
    font-family: "Permanent+Marker", fantasy;
}
/*Navigation*/
nav {
    width: 100%;
   
}
 
nav button {
    margin: .2em 2%;
    font-size: 1.6rem;
    color: black;

    border: none;
    background-color:#E0ff4f;
    
}

nav ul {
   background-color:#E0ff4f ;
    
}
nav .hide {
    display:none;
}
nav ul li {
   
   font-family: "Permanent+Marker", fantasy;
    display: inline-flex;
   
    text-align: center;
}
nav ul li a {
     
    padding: 8px;
    background-color: #e0ff4f;
    width:100%;
     color: black;
}
nav ul li.active a {
    color:#ff6663;
}
nav ul li a:hover { 
color: darkslategrey;
}
.top {
    width: 100%;
    height: 5%;
}
button {
   background-color: #e0ff4f; 
}
.sales {
    display: center;
    text-align: center;
    border: 3px solid #0B3954;
    font-size: .85em;
    padding:5px 5px 5px 5px;
    margin: 20px;
}
.events {
    display: inline-flex;
    width: 100%;
    font-size: .85em;
}
.events button{
    padding: 1em;
    margin-left: 4em;
    margin-top:1em;
     font-family:  "Permanent+Marker",fantasy;
}
.events img{
 width: 30%; 
    height:10%;
    margin: 2em 3em 2em 2em;
}
.adventures {
    margin-left: 2em;
    font-size: .85em;
    text-align: center;
}
.adventures button {
     font-family:  "Permanent+Marker",fantasy;
    padding: 1em;
}
.logo {
    width:50%;
margin-left: 35%;
    margin-top: 1em;
}
footer{
    background-color: #ff6663;
}
/*sales page*/
#lead {
    text-align: center;
}
#sale {
    background-color: crimson;
    color:white;
    text-align: center;
}
.bikesales > li {
	position: relative;
	
	
	left: -90%;
	
	-webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
}


li.openSesame {
	left:0px;
}
.item{
    display: grid;
    border: 2px solid black; 
}
.bikesales img{
    
    width: 100%;
    margin: 0;
}
.bikesales h3{
    text-align: center;
    background-color:#e0ff4f; 
}
.bikesales section {
    border: 2px solid black;
    margin: 2em;
}
.bikesales h5{
    padding:1.5em;
}
.bike1, .bike2, .bike3 {
    display:flex;
}
#button1, #button3 {
    
    padding: 1em;
}
.buyNow {
    padding: 1em;
    margin: 2em;
}
/*Sevices Page*/
.service {
     
    text-align: center;
    color:#0B3954 ; 
}
thead tr:first-child{
    background-color: #e0ff4f;
    font-size: 1.25em;
    color:#0B3954 ; 
        font-family:  "Permanent+Marker",fantasy; 
}

tr {
    border: 1px solid black;
}
tr:nth-child(odd){
    background-color:white; 
    
}
tr:nth-child(even){
  background-color: lightgray;
}
table, tr, td {
    border: 1px solid grey;
     border-collapse: collapse;
    text-align:center;
    padding: 2em;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
/* Adventure Page*/
.header {
    background-color:  #e0ff4f;
    font-family:"Libre+Baskerville", fantasy;
    color:black;
    text-align: center;
    padding: 1em;
}
.adventure1, .adventure2, .adventure3 {
    Border: 2px solid grey;
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-size: 1.25em;
   
}
.adventure1 button, .adventure2 button, .adventure3 button{
    font-size: 1.25em;
    font-family: "Permanent+Marker",fantasy;
    padding: 1em;
}
.addons {
   text-align: center;
     
    color: #0B3954;
    font-size:1.5em;
}
.addons li {
    text-align: left;
    background-color:#e0ff4f;
    color: black;
    font-size: 1.5em;
    margin: 1em;
    padding:1em;
}
.adventures h3 {
    background-color: #ff6663;
} 
.adventure1 h1{
    background-color: lightgreen;
}
.adventure2 h1{
    background-color: dodgerblue;
} 
.adventure3 h1{
    background-color: black;
    color:white;
}