* { box-sizing: border-box;} 

body { max-width: 100%;
  font-size: 16px;
  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header {
    font-family: 'Libre Baskerville', serif;
 color: white;   
background-color:#0B3954;
}
header h1 {
    font-size: 2.5em;
    padding: 0px 20px 0px 20px;
    text-align: center;
    padding: .65em;
 

}
#spoke {
  
    font-family: 'Permanent Marker', cursive;
}
/*Navigation*/
nav {
    width: 100%;
   
}
 
nav button {
    margin: .2em 2%;
    font-size: 1.6rem;
    color: black;

    border: none;
    background-color:#E0ff4f;
    
}

nav ul {
   background-color:#E0ff4f ;
    
}
nav .hide {
    display:none;
}
nav ul li {
   
   font-family: 'Permanent Marker', cursive;
    display: inline-flex;
   
    text-align: center;
}
nav ul li a {
     
    padding: 8px;
    background-color: #e0ff4f;
    width:100%;
     color: black;
}
nav ul li.active a {
    color:#ff6663;
}
nav ul li a:hover { 
color: darkslategrey;
}
.top {
    width: 100%;
    height: 5%;
}
button {
   background-color: #e0ff4f; 
}
.sales {
   
    text-align: center;
    border: 3px solid #0B3954;
    font-size: .85em;
    padding:5px 5px 5px 5px;
    margin: 20px;
}
.events {
    display: inline-flex;
    width: 90%;
    font-size: .85em;
}
.events button{
    padding: 1em;
    margin-left: 4em;
    margin-top:1em;
   font-family: 'Permanent Marker', cursive; 
      

}
.events img{
 width: 30%; 
    height:10%;
    margin: 2em 3em 2em 2em;
}
.adventhome {
   width:90%;
    font-size: .85em;
    text-align: center;
}
.adventhome button {
     font-family: 'Permanent Marker', cursive;
    padding: 1em;
    font-size: 1em;
}
.logo{
    
width:25%;
    height:25%;
    margin-top: 1em;
}
footer{
    background-color: #ff6663;
   text-align: center;
    padding: .5em;
}
.gmlink {
    color:navy;
    padding-bottom: .5em;
    text-align: center;
}
/*sales page*/
#lead {
    text-align: center;
}
#sale {
    background-color: crimson;
    color:white;
    text-align: center;
}
.bikesales > li {
	position: relative;
	
	
	left: -90%;
	
	-webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
}


li.openSesame {
	left:0px;
}
.item{
    display: grid;
    border: 2px solid black; 
}
.bikesales img{
    
    width: 100%;
    margin: 0;
}
.bikesales h3{
    text-align: center;
    background-color:#e0ff4f; 
}
.bikesales section {
    border: 2px solid black;
    margin: 2em;
}
.bikesales h5{
    padding:1.5em;
}
.bike1, .bike2, .bike3 {
    display:flex;
}
#button1, #button3 {
    
    padding: 1em;
}
.buyNow {
    padding: 1em;
    margin: 2em;
}
/*Sevices Page*/
.serviceList {
    font-family: 'Libre Baskerville', serif;
    display:grid;
   
    padding: 2em;
    border: 2px solid gray;
}
/* Adventure Page*/
.header {
    background-color:  #e0ff4f;
    font-family: 'Libre Baskerville', serif;
    color:black;
    text-align: center;
    padding: 1em;
}
.adventure1, .adventure2, .adventure3 {
    Border: 2px solid grey;
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-size: 1.25em;
   
}
.adventure1 img, .adventure2 img, .adventure3 img {
    width:80%;
}
.adventure1 button, .adventure2 button, .adventure3 button{
    font-size: 1.25em;
    font-family: 'Permanent Marker', cursive;
    padding: 1em;
}
.addons {
   text-align: center;
     
    color: #0B3954;
    font-size:1.2em;
}
.addons li {
    text-align: left;
    background-color:#e0ff4f;
    color: black;
    font-size: 1.5em;
    margin: 1em;
    padding:1em;
}
.adventures h3 {
    background-color: #ff6663;
} 
.adventure1 h1{
    background-color: lightgreen;
}
.adventure2 h1{
    background-color: dodgerblue;
} 
.adventure3 h1{
    background-color: black;
    color:white;
}
/*Events Page*/
#map {
    margin-left:10%;
    margin-right: 10%;
    width: 75%;
    border: 2px solid black;
}
.epage {
    text-align: center;
}
.elist li {
  margin: 2em;
   list-style-type: none;
    font-weight: bold;
    display:grid;
    
}
.rtop {
    display:flex;
    margin: 1.5em;
}
.elist li:nth-child(even){
    background-color: black;
    color:white;
}
#details {
    text-align: center;
    background-color: #e0ff4f;
    padding: 1%;
}
/*contact Us*/
#contact {
    margin:10%;
}
#contact img{
    margin:0;
}
#gmap {
    width: 90%;
}
#contactForm{
    width:90%;
}