@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
     nav button { display:none; }
    nav {
     font-size: 1.4em;  
    list-style-type:none;
    margin:0 auto;
    padding:0;
    align-content:center; 
    display:contents;    
    }
    nav button { display:none; } 
    nav .hide {
        display:block;
        
    }
    .events {
        margin-left: 10%;
        font-size: 1.2em;
        width:100%
    }
    .events button{
        margin-left: 5em;
        margin-top: 1em;
        padding:1em;
        font-family: "Permanent+Marker", fantasy;
         font-size: .65em;
    }
  
     .group {
         
         width:100%;
        display:inline-flex;
    }
    .adventhome button {
        padding: .75em;
     
        font-family: fantasy;
    }
    
     .logo{
        width:100%;
       margin-top: 20%;
        margin-bottom: 0em;
        margin-left: 20%;
        border: 1px solid blue;
     
    }
    .adventhome {
        font-size:1.5em;
        padding-top: 2em;
        padding-bottom: 1em;
     width: 100%;
       
    }
    .group {
        width:100%;
        margin-right:10%;
    }
    .elist li {
        font-size: 1.5em;
    }
    
   