@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
     nav button { display:none; }
    nav {
     font-size: 1.4em;  
    list-style-type:none;
    margin:0 auto;
    padding:0;
    align-content:center; 
    display:contents;    
    }
    nav button { display:none; } 
    nav .hide {
        display:block;
        
    }
    .events {
        margin-left: 10%;
        font-size: 1em;
        width:80%
    }
    .events button{
        margin-left: 5em;
        margin-top: 1em;
        padding:1em;
        font-family: 'Permanent Marker', cursive;
         font-size: .65em;
    }
  
     .group {
         
         width:100%;
        
    }
    .adventhome button {
        padding: .75em;
     
         font-family: 'Permanent Marker', cursive;
    }
    
     .logo{
        width:100%;
      margin-left: 45%;
       
    
    }
    .adventhome {
        font-size:1.1em;
        padding-top: 2em;
        padding-bottom: 1em;
     width: 80%;
       margin-left: 10%;
    }
    .group {
        width:100%;
        margin-right:10%;
    }
    .elist li {
        font-size: 1.2em;
    }
    
    footer {
        font-size:
            1.25em;
        }
    .serviceList {
        margin-left: 20%;
        margin-right: 20%;
    }
    }